<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteBase /
    RewriteRule ^style(.*)$ /r-app/r-style$1
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ ./index.php [L]
</IfModule>
Redirect /style /r-app/r-style

AddDefaultCharset utf-8

<ifModule mod_php.c>
  php_value	upload_max_filesize	32M
  php_value     session.auto_start      1
</ifModule>